*~
*.swp
Debug/*
Release/*
LuaSDL/Debug/*
LuaSDL/Release/*
*.sdf
*.opensdf
*.suo
other/*
build/*
autom4te*
config.cache
config.log
config.status
Makefile
libtool
.deps
.libs
*.lo
*.o
*.la
*.lai
*.xcworkspacedata
*.xcuserdatad
.DS_Store
SDL2_mixer.pc
external/flac-1.2.1/build/*
external/libmikmod-3.1.12/build/*
external/libmodplug-0.8.8.4/build/*
external/libogg-1.3.1/build/*
external/libvorbis-1.3.3/build/*
external/libvorbisidec-1.2.1/build/*
external/smpeg2-2.0.0/build/*
